target*
*.class
.settings*
.project
.classpath
mvnw
mvnw.cmd
**/.vscode/**
\.DS_Store
configurations.ini
babelfy.var.properties
babelnet.var.properties

config/

exec.sh

resources/jlt/

resources/wnplusplus/
