/* index */
.wrap{
    position:relative;
    width:62vmin; 
    height:62vmin;
    margin:0 auto;
    background:inherit;
    opacity:0;
    transition:transform .5s, opacity .5s;
    transform:scale(.8) translateZ(0px);
    /*opacity:0.8;*/
    opacity:1;
}
a.radial-menu{
    position:absolute;
    left:0; top:0;
    width:47.5%; 
    height:47.5%;
    overflow:hidden;
    transform:scale(.5) translateZ(0px);
    background:#585247;
    display: block;
    cursor: default;
}
a.radial-menu div{
    height:100%;
    background-size:cover;
    border-radius:inherit;
    transition:transform .5s, opacity .5s;
}
a.radial-menu:nth-child(1){
    transform-origin: 110% 110%;
    transition:transform .4s .15s;
    transform:translatez(0px);
    opacity:0.8;
}
a.radial-menu:nth-child(1) div{
    background-image: url('/images/store.png');

}
a.radial-menu:nth-child(2){
    left:52.5%;
    transform-origin: -10% 110%;
    transition:transform .4s .2s;
    transform:translatez(0px);
    opacity:0.8;
}
a.radial-menu:nth-child(2) div{
    background-image: url('/images/preprocess.jpg');

}
a.radial-menu:nth-child(3){
    top:52.5%;
    transform-origin: 110% -10%;
    transition:transform .4s .25s;
    transform:translatez(0px);
    opacity:0.8;
}
a.radial-menu:nth-child(3) div{
    background-image: url('/images/tune.jpg');

}
a.radial-menu:nth-child(4){
    top:52.5%; left:52.5%;
    transform-origin: -10% -10%;
    transition:transform .4s .3s;
    transform:translatez(0px);
    opacity:0.8;
}
a.radial-menu:nth-child(4) div{
    background-image: url('/images/share.jpg');
}
a.radial-menu:nth-child(5){
    width:40%;
    height:40%;
    left:30%; 
    top:30%;
    border-radius:50vmin;
    box-shadow:0 0 0 3vmin #FFFFFF;
    transform:scale(1);
}
a.radial-menu:nth-child(5) div{
    /*background-image: url('https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg');*/
    background-image: url('/images/logo.svg');
}

a.radial-menu span{
    text-decoration: none;
    color:#FFF;
    font-size: 3vmin !important;
    font-weight: bold !important;
    text-shadow: 3px 3px #203939;
    text-transform: uppercase;
}
a.radial-menu:nth-child(2) span, a.radial-menu:nth-child(4) span{
    align-items: flex-start;    
    float: right;
    opacity: 1;
}
a.radial-menu:nth-child(1) span, a.radial-menu:nth-child(3) span{
    align-items: flex-start;    
    float: left;
    opacity: 1;
}
.home-text{  
    margin: 0 auto;
    font-size: 1.2em;
    text-align: justify;
    /* padding-top: 40px;*/
    font-weight: normal;
}
.title-home{
    font-size: 1.8em;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*span.rmenu:hover + .wrap, .wrap:hover{
    transform:scale(.8) translateZ(0px);
    opacity:1;
    
}*/
/*
span.rmenu:hover + .wrap a, .wrap:hover a{
    transform:scale(1) translatez(0px);
}
*/
a.radial-menu:hover div{
/*    transform:scale(.8) translateZ(0px);*/
    opacity:1;
}
