/* index */
/*body,html{margin:0;padding:0;height:100%;}
.rmenu-section{background:#E3DFD2;box-shadow: inset 0 0 20vmin 0 #585247;}*/
.wrap{
    position:relative;
   /* width:80vmin; height:80vmin;*/
    width:62vmin; 
    height:62vmin;
    margin:0 auto;
    background:inherit;
    /*transform:scale(0.2) translatez(0px);*/
    opacity:0;
    transition:transform .5s, opacity .5s;
    transform:scale(.8) translateZ(0px);
    opacity:1;
  }
  a.radial-menu{
    position:absolute;
    left:0; top:0;
    width:47.5%; 
    height:47.5%;
    overflow:hidden;
    transform:scale(.5) translateZ(0px);
    background:#585247;
    display: block;
  }
  a.radial-menu div{
    height:100%;
    background-size:cover;
    opacity:.5;
    transition:opacity .5s;
    border-radius:inherit;
    
  }
  a.radial-menu:nth-child(1){
   /* border-radius:40vmin 0 0 0;*/
    transform-origin: 110% 110%;
    transition:transform .4s .15s;
    transform:translatez(0px);
  }
  a.radial-menu:nth-child(1) div{
    background-image:url('https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg');
    /*background-image: url('https://s2.best-wallpaper.net/wallpaper/1024x768/1704/Test-tube-drop-tube-blue-style_1024x768.jpg');*/
    
  }
  a.radial-menu:nth-child(2){
  /*  border-radius:0 40vmin 0 0;*/
    left:52.5%;
    transform-origin: -10% 110%;
    transition:transform .4s .2s;
    transform:translatez(0px);
  }
  a.radial-menu:nth-child(2) div{
    background-image:url('https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg');
    /*background-image: url('https://s2.best-wallpaper.net/wallpaper/1024x768/1608/Network-connection-web-cable-light_1024x768.jpg');*/
  }
  a.radial-menu:nth-child(3){
  /*  border-radius:0 0 0 40vmin;*/
    top:52.5%;
    transform-origin: 110% -10%;
    transition:transform .4s .25s;
    transform:translatez(0px);
  }
  a.radial-menu:nth-child(3) div{
    background-image:url('https://farm7.staticflickr.com/6092/6227418584_d5883b0948.jpg');
  }
  a.radial-menu:nth-child(4){
  /*  border-radius:0 0 40vmin 0;*/
    top:52.5%; left:52.5%;
    transform-origin: -10% -10%;
    transition:transform .4s .3s;
    transform:translatez(0px);
  }
  a.radial-menu:nth-child(4) div{
    background-image: url('https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg');
  }
  a.radial-menu:nth-child(5){
    width:40%;
    height:40%;
    left:30%; 
    top:30%;
    border-radius:50vmin;
    /*box-shadow:0 0 0 5vmin #FFFFFF;*/
    box-shadow:0 0 0 3vmin #FFFFFF;
    transform:scale(1);
  }
  a.radial-menu:nth-child(5) div{
    background-image: url('https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg');
  }
  /*span.rmenu{
    position:relative;
    display:block;
    margin:0 auto;
    top:45vmin;
    width:10vmin; 
    height:10vmin;
    border-radius:100%;
    background:#585247;
    transform:scale(.8) translateZ(0px);
    opacity:1;
  }
  span.rmenu span{
    position:absolute;
    width:60%;height:3px;
    background:#ACA696;
    left:20%; 
    top:50%;
    border-radius:0;
  }
  span.rmenu span:after, span.rmenu span:before{
    content:'';
    position:absolute;
    left:0; 
    top:-1.5vmin;
    width:100%; height:100%;
    background:inherit;
  }
  span.rmenu span:after{
    top:1.5vmin;
  }
  span.rmenu:hover + .wrap, .wrap:hover{
    
    transform:scale(.8) translateZ(0px);
    opacity:1;
  }
  span.rmenu:hover + .wrap a, .wrap:hover a{
    transform:scale(1) translatez(0px);
  }*/
  a.radial-menu:hover div{
    opacity:1;
    transform:translatez(0px);
  }
  .home-text{  
    height:62vmin;
    margin:0 auto;
    transform: scale(.8) translateZ(0px);
    font-size: 1.6em;
    text-align: justify;
    vertical-align: middle;
    display: flex;
   justify-content: center;
   align-items: center;
  }
  .title-home{
    font-size: 2em;
  }