html {
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh
}

body
{
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

thead{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

h2{
    border-bottom: 1px solid #728585;
    font-style: italic; 
    color:#728585;
    font-family: 'Source Sans Pro', sans-serif;
}

hr{
    border-top: 1px solid #728585;
}

a{
    cursor: pointer;
}

.table thead th{
    border-bottom:  0px !important;
    color: #203939;
    text-align: left;
    background-color: #eff6f6;
    text-transform: uppercase;
}

tr:nth-child(even){
    background-color: #FBFBFB;
}

.form-bg,.main-div-bg
{
    background-color:#dfe6ea;
}
.main-bg {
    background-color: #ffffff;
}

.footer-bg
{
    background-color: #203939 !important;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 84px;
}

.submit-button
{
    background-color: #9cb805;
    color: #203939;
}

.button
{
    color: #9cb805;
    font-size: 24px;
}
.reject-button
{
    background-color: #ff1a4a;
    color: #f4f6ec;
}

.topdiv-text, .thead-text
{
    color: #dfe6ea;
    font-size: 16px;
    align-self: center;
}

.title-text
{
    color: #203939;
    font-size: 1;
    font-weight: bold;
}

.normal-text
{
    color: #203939;
    font-size: 1;
}

.main-text
{
    color: #203939;
    font-size: 1;
}
.bold{
    font-weight: bold;
}
.padding{
    padding-right:38px;
}
input[type="date"]{
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;border-radius: 0.25em;
    height: calc(1.5em + 0.75rem + 2px);
    border: 1px solid #ced4da;
    text-align: right;
}

.main-text-header
{
    color: #203939;
    font-size: 26px !important;
}
.error-message, .author
{
    margin-top: 50pt;
}

.header-logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.footer-logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.info-label
{
    color: #9cb805;
}
.error-label
{
    color: #E74C3C;
}


#linklogo,#topdivhome, #topdivpublic, #topdivregister,#navbar-link
{
    color: #FFFFFF;
}
.nav-item{
    text-transform: uppercase;
    font-size: 14px;
}

.login-form
{
    margin-top:50px;
}
input[type="checkbox"]{
    max-width:14px;
}
.files, .submit-dataset
{
    margin-top:30px;
}

.page-content
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.wlc-pic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    margin-bottom:10px;
    width: 100%;
}

.dataset-attr
{
    font-size: 30px;
}

.dataset-item
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.ta-pipe
{
    background-color: #203939;
    color: #dfe6ea;
}

.logout-icon, .user-photo, #locales
{
    margin-right:20px;  
}
.icons{
    color: #FFFFFF !important;
}
.no-login{
    height: 50px;
    align-items: center;
    margin-left:20px;
}
.header-options{
    min-width: 170px;
    display: inherit;
}
.header-lang-user{
    display: inline-flex;
}
.image-button
{
    background-color: #ffffff;
    border: none;
}

.message
{
    background-color:#e2debe;
}

.pre-footer
{
    margin-bottom: 100px;
}

.footer-images
{
    margin-top: 5px;
}

.low-footer
{
    background-color: #000000;
}

.form-control[readonly]
{
    background-color: white;
    color: #203939;
    opacity: 1;
}
.aligned-input
{
    text-align: center;
}

.about{
    color: #FFFFFF;
}
.indent{
    font-size: 95%;
}
.border-bottom{
    border-bottom: 1px solid #4A8585;
}
.left{
    text-align:left;
}
.right{
    text-align:right;
}
.row{
    padding-top:5px;
}

.card
{
    border-color: #203939;
}

.thick-border-bottom
{
    border-bottom: 5px solid #203939
}

.light-border-bottom
{
    border-bottom: 2px solid #203939
}

.thick-border-top
{
    border-top: 5px solid #203939
}

.card
{
    word-break: normal;
}

.nav-pills .nav-item
{
    background: white;
}

.table
{
    background: white;
    font-size: 14px;
    margin-bottom: 0em !important;
}
.td-date{
    min-width: 7.2em;
}
.td-width-100{
    width:100%;
}
.logo-uvigo{
    max-width: 210px;
    padding: 10px;
}
.logo-sing{
    max-width: 120px;
    padding: 10px;
}
.control-label-login{
    color: #FFFFFF;
    padding-left:5px;
    padding-right:5px;
}
.btn{
    background-color:#4A8585 !important;
    border-color:#4A8585 !important;

}
.btn-primary{
    color: #FFFFFF !important;
}

.btn-list{
    background-color: transparent !important;
    border-color: transparent !important;
}

#locales{
    font-size: 14px;
    width: 45px;
    height: 36px;
    padding: 0px;
    margin-left:10px;
    align-self: center;
}
.dlocales{
    padding-left: 5px;
}
.dropdown-menu{
    font-size: 14px;
    border: none !important;
}
ul li .dropdown-menu{
    background-color: #203939;
}

.jumbotron{
    background-color: #FBFBFB;
}
.border-info{
    border-color: #dee2e6 !important;
}
#username, #password {
    background-color : #FFFFFF !important;
    max-width: 120px;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;  
}
input {
    filter: none;
}

/**** Bootswatch ****/
.dropdown-item{
    color: #FFFFFF;
    background-color: #203939;
    font-size: 16px;
    font-weight: bold;
}
.dropdown-item:hover{
    color:#6EC4C4;
    background-color: #203939;
}
.dropdown-toggle{
    font-weight: bold; 
}

.nav-link{
    color: #4A8585;
}

.nav-item .nav-link{
    color: #608585;
}

.navbar-nav>li a, .nav-brand{
    color:#FFFFFF;
    text-decoration:none;
    font-size: 16px;
}
.nav-item .nav-link.active, .nav-item .nav-link:hover{
    color:#203939 !important;
    text-decoration: none;
}

#datasetpublic, #userregister{
    color: #FFFFFF;
    font-weight: bold;
}
#datasetpublic:hover,#datasetpublic:active, #datasetpublic.nav-link.active, #userregister.nav-link.active, #userregister:hover, #userregister:active, #navbar-link:active, #navbar-link:hover{
    color:#6EC4C4 !important;
}

#home{
    font-size: 16px;
    font-weight: bold;
}
.nav-brand.nav-link.active, .nav-brand:hover, .nav-brand:active{
    color:#6EC4C4 !important;
    font-weight: bold;
}
.navbar-nav>li a:hover, .navbar-nav>li a:active{
    color:#6EC4C4 !important;
    background-color: #203939 !important;
}

.bg-primary {
    background-color: #203939 !important;
}
.header{
    padding-bottom: 50px;
}

.list-unstyled{
    display: flex;
    align-items: center;
    justify-content: center;
}
legend{
    font-size: 26px !important;
}
.nav-brand{
    font-size: 14px;
}
.alert-danger{
    background-color: #fadbd8;
    color: #E74C3C !important;
}
.alert-primary{
    background-color: #e5f1f1;
    color: #203939;
}
.odd{
    background-color: #FBFBFB;
}
.margin20{
    margin-top: 20px;
}
.alert-light{
    color:#203939;
    background-color: #FFF;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.alert-info {
    background-color: #f7f7e7;
    border-color: #ececdd;
    color: #203939;
}

.card-header{
    background-color: #FFF;
}
.card-body{
    font-size: 0.9375re !important;
}

.permission{
    background-color: #FBFBFB;
}

.card{
    border-color: #F0EEEE !important;
}
.italic{
    font-style: italic;
}

.list-group{
    list-style: none;
}
.wlc-pic{
    max-width: 150px;
}
.license{
    color: #203939;
}
.license:hover, .license:active{
    color: #9cb805;
}
#inputSpamPercentage{
    max-width: 90px;
}

.justify{
    text-align: justify;
    font-weight:400;
}

.create{
    border-bottom: 1px solid #203939 !important;
}
.minw_110{
    min-width: 110px !important;
}
.modal-content{
    margin-bottom: 10px;
}
.tab-pane{
    overflow-x:auto;
    border-bottom: 1px solid #ecf0f1;
}
.add-border{
    border-left: 1px solid #ecf0f1 !important;
    border-right: 1px solid #ecf0f1 !important;
}
.fa-times-padding{
    padding-right:8px;
}


#dlogin{
    font-size: 16px;
    float: left;
    display:flex
}
#dmenu{
    min-width: 350px;
    position: relative;
    width:100%;
}

.td-btn-list{
    min-width: 290px;
    display: inline block;
    margin-top: -1px;
    list-style: none;
}
/***** Responsive *****/

@media (max-width: 414px){
    #lPassword{width:50%;}
    #laddLicense{width:50%;}
    #username,#password{margin-bottom: 5px;}
    @media (max-width: 375px){
        .header-lang-user{margin-left:0px !important;}
        .row{min-height: 60px;}
    }
}

@media screen and (max-width: 1023px) {
    #home{display:none;}
    #responsive-home-image{display: inline;}
    #responsive-home-text{display:inline;}
    .wrap{
        height: 85vmin !important;
        width: 85vmin !important;
        transform: none !important;
    }
}
@media (max-width: 1920px) {
    @media (max-width: 500px) {
        .header-lang-user{margin-left:0px !important;}
        .form-inline {min-height:80;}
        #dlogin { width: 100%; }
        #dmenu { width: 100%;}
        .dlocales{ width: 100%;}
    }
    @media (max-width: 550px) {
        #locales{
            align-self: end;
            margin-bottom: 0.9rem !important;
        }
    }
}

.hide{
    display:none;
}
.header-inline{
    /*display: inline-flex;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/** COOKIES **/
#overbox3 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    display: block;
}
#infobox3 {
    margin: auto;
    position: relative;
    top: 0px;
    min-height: 58px;
    padding: 10px;
    width: 100%;
    text-align:justify;
    background-color: #eeeeee;
    font-size:12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cookies-button{
    padding: 5px;
    text-decoration: none;
    background-color:#4A8585;
    color: #FFF !important;
    text-transform: uppercase; 
}
