html {
    min-height: 100%;
    position: relative;
  }
.form-bg,.main-div-bg
{
    background-color:#dfe6ea;
}
.main-bg {
	background-color: #ffffff;
}

.top-bg, .footer-bg,thead
{
    background-color: #203939;
}

.submit-button
{
    background-color: #9cb805;
    color: #203939;
}

.reject-button
{
    background-color: #ff1a4a;
    color: #f4f6ec;
}

.topdiv-text, .thead-text
{
    color: #dfe6ea;
}
.main-text
{
    color: #203939;
}
 .error-message, .author
{
    margin-top: 50pt;
}

.header-logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.footer-logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.error-label
{
    color: #9d0e3d;
    font-family: "Times New Roman";
    font-style: oblique;
}

#linklogo,#topdivhome, #topdivpublic, #topdivregister,#navbar-link
{
    color: #dfe6ea;
}

.login-form
{
    margin-top:50px;
}

.files, .submit-dataset
{
    margin-top:30px;
}

.welcome-text
{
    font-size: 50px;
}

.page-content
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.welcome-items
{
    margin-right:120px;
}

.welcome-item   
{
    display:block;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.wlc-pic
{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    margin-bottom:10px;
    width: 100%;
}

.dataset-attr
{
    font-size: 30px; 
}

.dataset-item
{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.ta-pipe
{
    background-color: #203939;
    color: #dfe6ea;
}

.logout-icon, .user-photo
{
    margin-left: 20px;
    margin-right:20px;
}

.image-button
{
    background-color: #ffffff;
    border: none;
}

.message
{
    background-color:#e2debe;
}

.pre-footer
{
    margin-bottom: 100px;
}

.footer-images
{
    margin-top: 5px;
}

.low-footer
{
    background-color: #000000;
}

.form-control[readonly]
{
    background-color: white;
    color: #203939;
    opacity: 1;
}

.page-footer
{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
}