<!DOCTYPE html>
<html>
    <head>
        <title th:text="#{app.name}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body class="main-bg">
        <div class="container-fluid">
            <div th:include="header.html"></div>
            <div class="row page-content pre-footer">
                <div class="col-2"></div>
                <div class="col-8 form-bg">
                    <form action="#" th:action="@{/license/add}" th:object="${license}" method="POST">
                        <img class="header-logo" src="/images/key.svg" alt="key.svg" height="64" width="64">
                        <h2 class="main-text-header text-center" th:text="#{add.license.title}"></h2>
                        <div class="form-group">
                            <label for="#{add.license.placeholder.name}" id="laddLicense" name="addLicense" class="col-md-3 control-label" th:text="#{add.license.placeholder.name}" ></label>
                            <input class="form-control" type="text" name="name" th:attr="placeholder = #{add.license.placeholder.name}" required/>
                            <label class="error-label" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                        </div>
                        <div class="form-group">
                            <label for="#{add.license.placeholder.description}" id="laddLicense" name="addDescription" class="col-md-3 control-label" th:text="#{add.license.placeholder.description}" ></label>
                            <label class="error-label" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label>
                            <textarea class="form-control" rows="50" cols="80" name="description" th:attr="placeholder = #{add.license.placeholder.description}" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="#{add.license.placeholder.original}" id="loriginalUrl" name="originalUrl" class="col-md-3 control-label" th:text="#{add.license.placeholder.original}" ></label>
                            <input class="form-control" type="text" name="url" th:attr="placeholder = #{add.license.placeholder.original}" required/>
                            <label class="error-label" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></label>
                        </div>
                        <div class="form-group submit-dataset">
                            <input type="submit" class="submit-button form-control" th:attr="value = #{add.license.button.upload}"><br>
                        </div>
                    </form>
                </div>
                <div class="col-2"></div>
            </div>
            <div th:include="footer.html"></div>
        </div>
    </body>
</html>