<!DOCTYPE HTML>
<html>
    <head>
        <title th:text="#{app.name}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">  
        <link rel="icon" type="image/png" href="/images/STRepLogo.jpg">
    </head>
    <body class="main-bg">
        <div class="header">
            <div th:include="header.html"></div>
        </div>
        <div class="container">
            <div id="bs-docs-section">
                <div class="row">
                    <div class="col-12">
                        <div id="bs-component">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="main-text left" th:text="#{detailed.license.title}"></h2>
                                    <hr/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 right">
                                    <a class="btn btn-list" id="back">
                                        <i class="fas fa-arrow-circle-left"></i>
                                        <span th:text="#{back}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="card border-primary mb3">
                                <div class="card-header" th:text="${license.name}"></div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="justify" th:utext="${description}"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 right">
                                            <a class="license" th:title="#{detailed.license.original}" th:href="${license.url}" th:text="${license.url}"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="footer.html">
    </body>
</html>                    
