<div th:include="header.html"></div>
<div class="container">
    <div id="banner" class="page-header">
        <div class="row">
            <div class="col-12">
                <h2 th:text="#{detailed.license.title}"></h2>
            </div>
        </div>
    </div>
    <div id="bs-docs-section">
        <div class="row">
            <div class="col-12">
                <div id="bs-component">
                    <div class="card border-primary mb3">
                        <div class="card-header" th:text="${license.name}"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="justify" th:utext="${description}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 right">
                                    <a class="license" th:title="#{detailed.license.original}"
                                       th:href="${license.url}" th:text="${license.url}"></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <i class="fas fa-check" th:if="${license.redistribute==true}"></i>
                                    <i class="fas fa-times fa-times-padding"
                                       th:unless="${license.redistribute==true}"></i>&nbsp;
                                    <label th:text="#{add.license.redistribute}"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <i class="fas fa-check" th:if="${license.attributeRequired==true}"></i>
                                    <i class="fas fa-times fa-times-padding"
                                       th:unless="${license.attributeRequired==true}"></i>&nbsp;
                                    <label th:text="#{add.license.attributerequired}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <i class="fas fa-check" th:if="${license.commerciallyUse==true}"></i>
                                    <i class="fas fa-times fa-times-padding"
                                       th:unless="${license.commerciallyUse==true}"></i>&nbsp;
                                    <label th:text="#{add.license.commerciallyuse}" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 ">
                                    <i class="fas fa-check" th:if="${license.adaptWork==true}"></i>
                                    <i class="fas fa-times fa-times-padding"
                                       th:unless="${license.adaptWork==true}"></i>&nbsp;
                                    <label th:text="#{add.license.adaptwork}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 ">
                                    <i class="fas fa-check" th:if="${license.changeLicense==true}"></i>
                                    <i class="fas fa-times fa-times-padding"
                                       th:unless="${license.changeLicense==true}"></i>&nbsp;
                                    <label th:text="#{add.license.changelicense}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 right">
                            <input type="button" class="btn btn-primary" th:value="#{back}"
                                   onclick="window.location.href = '/license/list'"></input>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="footer.html"></div>
