<div th:include="header.html"></div>
<div class="container">
    <div class="alert alert-dismissible alert-info" th:if="${param.message}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class=" main-text" th:text="${param.message}"></p>
    </div>
    <div id="bs-docs-section">
        <div class="row">
            <div class="col-12">
                <div id="bs-component">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="main-text left" th:text="#{detailed.publicdataset.details}"></h2>
                        </div>
                    </div>
                    <div class="card border-primary mb3">
                        <div class="card-header" th:text="#{detailed.user.details}"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 right">
                                    <img th:if="${photo!=null}" class="user-photo" th:src="@{'/user/image?username='+${username}}" th:title="${user.username}" width="64">
                                    <i th:unless="${photo!=null}" class="fas fa-user fa-6x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 left"><p class="title-text" th:text="#{detailed.user.username}"> </p></div>
                                <div class="col-9 left"><p class="normal-text" th:text="${user.username}"></p></div>
                            </div>
                            <div class="row">
                                <div class="col-3 left"><p class="title-text" th:text="#{detailed.user.email}"> </p></div>
                                <div class="col-9 left"><p class="normal-text" th:text="${user.email}"></p></div>
                            </div>
                            <div class="row">
                                <div class="col-3 left"><p class="title-text" th:text="#{detailed.user.name}"> </p></div>
                                <div class="col-9 left"><p class="normal-text" th:text="${user.name}"></p></div>
                            </div>
                            <div class="row">
                                <div class="col-3 left"><p class="title-text" th:text="#{detailed.user.surname}"> </p></div>
                                <div class="col-9 left"><p class="normal-text" th:text="${user.surname}"></p></div>
                            </div>
                            <div class="row">
                                <div class="col-3 left"><p class="title-text" th:text="#{detailed.user.confirmed}"> </p></div>
                                <div class="col-9 left">
                                    <img src="/images/tick.svg" th:if="${user.confirmedAccount}" th:attr="alt = #{detailed.user.confirmed}" height="16" width="16">
                                    <img src="/images/warning.svg" th:unless="${user.confirmedAccount}" th:attr="alt = #{detailed.user.notconfirmed}" height="16" width="16">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-12"></div></div>
                    <div class="card border-primary mb3">
                        <div class="card-header" th:text="#{detailed.user.statistics}"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 left"><p class="title-text" th:text="#{detailed.user.uploaded}"> </p></div>
                                <div class="col-9 left"><p class="normal-text" th:text="${systemdatasetsnum}"></p></div>
                            </div>
                            <div class="row">
                                <div class="col-3 left"><p class="title-text" th:text="#{detailed.user.created}"> </p></div>
                                <div class="col-9 left"><p class="normal-text" th:text="${userdatasetsnum}"></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-12"></div></div>
                    <div class="card border-primary mb3">
                        <div class="card-header" th:text="#{detailed.user.permissions}"></div>
                        <div class="card-body">
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <form action="#" th:action="@{/user/editpermissions}" method="POST">
                                        <input type="hidden" name="username" th:attr="value = ${user.username}">
                                        <div class="form-group">
                                            <ul class="list-group">
                                                <li th:each="permission : ${permissions}">
                                                    <input type="radio" name="permission" th:if="${permission.name} == ${maxUserPermission}" th:attr="value = ${permission.id}" checked>
                                                    <input type="radio" name="permission" th:unless="${permission.name} == ${maxUserPermission}" th:attr="value = ${permission.id}">
                                                    <span th:text="${permission.name}" />
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 right">
                                                <input type="button" class="btn btn-primary" th:value="#{back}" onclick="window.location.href = '/user/list'"></input>
                                                <button type="submit" class="btn btn-primary" th:text="#{detailed.user.edit}"></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="footer.html"></div>
