<!DOCTYPE html>
<html>

<head>
    <title th:text="#{app.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div th:include="header.html">

        </div>

        <div class="row page-content pre-footer">

            <div class="col-2">

            </div>

            <div class="col-8 main-div-bg">

                    <div>
                            <img class="header-logo" src="/images/key.svg" alt="key.svg" height="64" width="64">
                            <h3 class="main-text text-center" th:text="#{detailed.license.title}"></h3>
                    </div>
                    <div class="card page-content">
                            <div class="card-header top-bg">
                                <h4 class="topdiv-text" th:text="${license.name}"></h4>
                            </div>

                            <div class="card-body">
                                
                                <p class="main-text monospaced-text" th:utext="${description}"></p>
                                
                                <div class="row">
                                    <div class="col-6">
                                <h3 class="main-text" th:text="#{detailed.license.original}"></h3>
                            </div>

                            <div class="col-6">
                                <a th:href="${license.url}" th:text="${license.url}"></a>
                            </div>
                                </div>
                            </div>
                    </div>
            </div>

            <div class="col-2">

            </div>

        </div>

        <div th:include="footer.html">

        </div>

</body>

</html>