<!DOCTYPE html>
<html>

<head>
    <title>Online Preprocessor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
</head>

<body class="main-bg">
    <div class="container-fluid">

        <div th:include="header.html">

        </div>

        <div class="row page-content">
            <div class="col-4">

            </div>

            <div class="col-4 form-bg text-center">
                <form action="#" th:action="@{/user/editprofile}" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                            <p class="title-text">Photo</p>
                            <input type="file" name="photo" required>
                            <input type="submit" class="form-control submit-button" value="Upload photo">
                    </div>


                    
                </form>
            </div>

            <div class="col-4">

            </div>
        </div>

        <div th:include="footer.html">

        </div>


    </div>
</body>

</html>