<!DOCTYPE HTML>
<html>
    <head>

        <title th:text="#{app.name}"></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    	<link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="icon" type="image/png" href="/images/STRepLogo.png">
    </head>

    <body class="main-bg">
    	<div class="container">
    		<div class="row">
    		 	<div class="col-4">
			    
			    </div>
    			<div class="col-4 error-message">
    				<img class="header-logo" src="/images/database.svg" alt="logo.png" height="64" width="64">
			    	<h1 class="main-text text-center">500-Internal server error</h1>
			    	<h2 class="main-text text-center">The server encountered an internal error or misconfiguration and was unable to complete your request</h2>
			    	<p class="text-center"><a  href="/">Go back</a></p>
			    </div>
			    <div class="col-4">
			    
			    </div>
    		</div>
    	</div>
    </body>


</html>