<footer class="page-footer footer-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-5">

                </div>

                <div class="col-1">
                    <a href="https://www.sing-group.org/"><img src="/images/singGrey.svg" alt="singGrey.svg" width="64"
                            height="64"></a>
                </div>

                <div class="col-1">
                    <a href="https://www.uvigo.gal/es"><img src="/images/uvigo.png" alt="uvigo.png" width="128"
                            height="64"></a>
                </div>

                <div class="col-5">

                </div>
            </div>
        </div>
    </footer>