<footer id="footer" class="footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.sing-group.org/" target="_blank"><img src="/images/singGrey.svg"
                                alt="Next Generation Computer Systems Group" class="logo-sing"></a>
                    </li>
                    <li>
                        <a href="https://www.uvigo.gal/es" target="_blank"><img src="/images/uvigo.png"
                                alt="Universidad de Vigo" class="logo-uvigo"></a>
                    </li>
                    <li>
                        <div class="popup" onclick="about()">
                            <p class="about">About</p>
                            <div class="popuptext" id="myPopup">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="close">&times;</span>
                                </button>
                                <h5 class="left indent border-bottom">
                                    <span>Attributions</span>
                                </h5>
                                <p class="left indent"><strong>Exit</strong>&nbsp; <img src="/images/noun_exit_mini.png"
                                        width="12">&nbsp;symbol created by <em>Yo! Baba</em></p>
                                <p class="left indent"><strong>Profile</strong>&nbsp; <img
                                        src="/images/noun_profile_mini.png" width="12">&nbsp; symbol created by
                                    <em>Besticons</em> </p>
                                <p class="left indent">And other icons from <a href="https://thenounproject.com/"
                                        target="_blank">The Noun Project collection</a>.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/functions.js"></script>
    <script type="text/javascript" src="/js/jqueryFunctions.js"></script>
</footer>