<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="nav-brand" href="/" id="home">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a id="datasetpublic" class="nav-link" href="/dataset/public" th:text="#{public.home.title}"></a>
                </li>
                <li class="nav-item">
                    <a id="userregister" class="nav-link" href="/user/register" th:text="#{signup.home.title}"></a>
                </li>
            </ul>

            <div sec:authorize="isAnonymous()" id="dlogin">
            <form action="#" th:action="@{/}" th:object="${user}" method="post" class="form-inline my-2 my-lg-0">
                <label class="control-label-login" for="#{header.username}" id="laddLicense" name="lUsername" th:text="#{header.username}" ></label>
                <input class="form-control mr-sm-2" type="text" id="username" name="username" th:attr="placeholder=#{header.username}">
                <label class="error-label" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:text="#{header.usernameerror}"></label>
                <label class="control-label-login" for="#{header.password}" id="lPassword" name="lPassword" th:text="#{header.password}" ></label>
                <input class="form-control mr-sm-2" type="password" id="password" name="password" th:attr="placeholder=#{header.password}">
                <label class="error-label" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:text="#{header.passworderror}"></label>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Login">Login</button>
                <label class="error-label" th:unless="${param.error == null}" th:text="#{header.wrongusernameorpassword}"></label>
            </form>
            </div>
             <select id="locales" class="form-control">
                <option id="en" value="en" th:text="EN" onclick="changeLocale(this.id)"></option>
                <option id="es" value="es" th:text="ES" onclick="changeLocale(this.id)"></option>
            </select>
        </div>
    </div>
</nav>
