<nav class="navbar navbar-expand-lg navbar-light top-bg">
    <img src="/images/database.svg" alt="logo" height="32" width="32">
    <a class="topdiv-text" id="linklogo" href="/dataset/list">Online preprocessor</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" th:text="#{header.datasets}">

            </a>
            <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item topdiv-text" href="/dataset/list" th:text="#{header.listdatasets}"></a>
                <div th:if="${authority!='canView'}">

                    <div th:if="${authority!='canCreateCorpus'}">
                        <a class="dropdown-item topdiv-text" href="/dataset/upload" th:text="#{header.upload}"></a>
                    </div>
                    <a class="dropdown-item topdiv-text" href="/dataset/create" th:text="#{header.create}"></a>
                </div>

            </div>
        </li>


        <div th:if="${authority!='canView'}">
            <li class="nav-item dropdown">
                <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" th:text="#{header.notifications}">

                </a>
                <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                    <div th:if="${authority!='canCreateCorpus'}">
                        <a class="dropdown-item topdiv-text" href="/task/upload" th:text="#{header.uploadstate}"></a>
                    </div>
                    <a class="dropdown-item topdiv-text" href="/task/create" th:text="#{header.creation}"></a>
                </div>
            </li>
        </div>

        <div th:if="${authority=='canAdminister'}">
            <li class="nav-item dropdown">
                <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"  th:text="#{header.administer}">
                    <!--Administer-->
                </a>
                <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item topdiv-text" href="/user/list" th:text="#{header.listusers}"></a>
                    <a class="dropdown-item topdiv-text" href="/permission/listrequests"
                        th:text="#{header.checkpermissions}"></a>
                </div>
            </li>
        </div>

        <li class="nav-item dropdown">
            <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" th:text="#{header.permission}">

            </a>
            <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item topdiv-text" href="/permission/list" th:text="#{header.permissionlist}"></a>
                <div th:if="${authority!='canAdminister'}">
                    <a class="dropdown-item topdiv-text" href="/permission/requests/"
                        th:text="#{header.permissionrequests}"></a>
                </div>
            </div>
        </li>

        <div th:if="${authority=='canAdminister'}">
            <li class="nav-item dropdown">

                <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" th:text="#{header.licenses}">
                </a>
                <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item topdiv-text" href="/license/list" th:text="#{header.licenseslist}"></a>
                    <a class="dropdown-item topdiv-text" href="/license/add/" th:text="#{header.addlicense}"></a>
                </div>

            </li>
        </div>
    </ul>

    <!--TODO: Change this for an image passed from parameters-->
    <select id="locales">
        <option id="en" value="en" th:text="en" onclick="changeLocale(this.id)"></option>
        <option id="es" value="es" th:text="es" onclick="changeLocale(this.id)"></option>
    </select>
    <a href="/user/editprofile">
        <img class="user-photo" th:src="@{'/user/image?username='+${username}}" alt="photo" height="32" width="32">
    </a>
    <p th:text="${username}" class="topdiv-text"></p>
    <div class="float-right logout-icon"></div>
    <a href="/logout">
        <img src="/images/logout.svg" alt="photo" height="32" width="32">
    </a>
</nav>