
<nav class="navbar navbar-expand-lg navbar-light top-bg">
        <img src="/images/database.svg" alt="logo" height="32" width="32">
        <a class="topdiv-text" id="linklogo" href="/dataset/home">Online preprocessor</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Datasets
                </a>
                <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                    <div th:if="${authority!='canView'}">
                        <a class="dropdown-item topdiv-text" href="/dataset/list?type=user">My datasets</a>
                        <div th:if="${authority!='canCreateCorpus'}">
                            <a class="dropdown-item topdiv-text" href="/dataset/upload">Upload dataset</a>
                        </div>
                        <a class="dropdown-item topdiv-text" href="/dataset/create">Create new dataset</a>
                    </div>
                    <a class="dropdown-item topdiv-text" href="/dataset/list?type=system">System datasets</a>
                    <a class="dropdown-item topdiv-text" href="/dataset/list?type=protected">Protected datasets</a>
                </div>
            </li>


            <div th:if="${authority!='canView'}">
                <li class="nav-item dropdown">
                    <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Notifications
                    </a>
                    <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                        <div th:if="${authority!='canCreateCorpus'}">
                            <a class="dropdown-item topdiv-text" href="/task/upload">Upload state</a>
                        </div>
                        <a class="dropdown-item topdiv-text" href="/task/create">Preprocessing
                            state</a>
                    </div>
                </li>
            </div>

            <div th:if="${authority=='canAdminister'}">
                <li class="nav-item dropdown">
                    <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Administer
                    </a>
                    <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item topdiv-text" href="/user/list">List users</a>
                        <a class="dropdown-item topdiv-text" href="/permission/listrequests">Check permission
                            requests</a>
                    </div>
                </li>
            </div>

            <li class="nav-item dropdown">
                <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Permission
                </a>
                <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item topdiv-text" href="/permission/list">Permissions list</a>
                    <div th:if="${authority!='canAdminister'}">
                        <a class="dropdown-item topdiv-text" href="/permission/requests/">Permission requests
                            status</a>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                    <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Licenses
                    </a>
                    <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item topdiv-text" href="/license/list">License list</a>
                        <div th:if="${authority=='canAdminister'}">
                            <a class="dropdown-item topdiv-text" href="/license/add/">Add license</a>
                        </div>
                    </div>
                </li>
        </ul>

        <!--TODO: Change this for an image passed from parameters-->
        <a href="/user/editprofile">
            <img class="user-photo" src="/images/authorplaceholderwhite.svg" alt="photo" height="32" width="32">
        </a>
        <p th:text="${username}" class="topdiv-text"></p>
        <div class="float-right logout-icon"></div>
        <a href="/logout">
            <img src="/images/logout.svg" alt="photo" height="32" width="32">
        </a>
    </nav>