<!DOCTYPE HTML>
<html>
<head> 
    <title>Online Preprocessor</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="main-bg">
    <div class="container-fluid">

        <div th:include="header.html">

        </div>
            <div th:if="${authority== 'canView'}">
                    <div class="row page-content">

                            <div class="col-1">
            
                            </div>
            
                            <div class="col-10 form-bg">
                            <img class="header-logo" src="/images/lock.svg" alt="logo.png" height="64" width="64">
                            <h1 class="main-text text-center welcome-text"><em>Your datasets</em></h1> 
                                <div class="row">
                                    <div class="col-4">

                                    </div>
                                    <div class="col-4">
                                    <p class="main-text text-center">With more permissions you will be able to upload your own datasets,
                                            create new datasets mixing system datasets and even be an administrator.
                                            If you want to do anything of this, solicit new permissions</p>
                                    <form action="/permission/list" method="get">
                                        <div class="form-group">
                                            <input type="submit" class="submit-button form-control" value="Solicit permissions"><br>
                                        </div>
                                    </form>  
                                    </div>
                                    <div class="col-4">

                                    </div>
                                </div>  
                            </div>
            
                            <div class="col-1">
            
                            </div>
                        </div>
            </div>
            <div th:unless="${authority== 'canView'}">
                    <div class="row page-content">

                            <div class="col-1">
            
                            </div>
            
                            <div class="col-10 form-bg">
                            <img class="header-logo" src="/images/userdatasets.svg" alt="logo.png" height="64" width="64">
                            <h1 class="main-text text-center welcome-text"><em>Your datasets</em></h1> 
                            </p>
                            </div>
            
                            <div class="col-1">
            
                            </div>
                        </div>
            
                        <div class="row page-content">
            
                            <div class="col-2">
                            </div>
            
            
                            <div class="col-8 main-div-bg">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="thead-text">
                                                Name
                                            </th>
                                                
                                            <th scope="col" class="thead-text">
                                                Description
                                            </th>
            
                                            <th scope="col" class="thead-text">
                                                Author
                                            </th>
                                                
                                            <th scope="col" class="thead-text">
                                                Upload date
                                            </th>
            
                                            <th scope="col" class="thead-text">
                                                Language
                                            </th>
            
                                            <th scope="col">
            
                                            </th>
            
                                            <th scope="col">
                                                
                                            </th>

                                            <th scope="col">
                                                
                                            </th>
                                            <th scope="col">
                                                
                                            </th>
                                        </tr>
            
                                    </thead>
            
                                    <tr th:each="userDataset : ${userDatasets}">
                                        <td th:text="${userDataset.name}" class="main-text">
            
                                        </td>
            
                                        <td th:text="${userDataset.description}" class="main-text">
            
                                        </td>
            
                                        <td th:text="${userDataset.author}" class="main-text">
            
                                        </td>
            
                                        <td th:text="${userDataset.uploadDate}" class="main-text">
            
                                        </td>
            
                                        <td th:text="${userDataset.language}" class="main-text">
            
                                        </td>
                                        <td>
                                            <a th:href="@{/dataset/detailed(id=${userDataset.name}, type=user)}">
                                            <img src="/images/detailed.svg" alt="See detail" height="24" width="24">
                                            </a>
                                        </td>
            
                                        <td>
                                            <a th:href="@{/dataset/download(id=${userDataset.name},type=user)}">
                                            <img src="/images/download.svg" alt="Download" height="24" width="24">
                                            </a>
                                        </td>

                                        <td>
                                            <a th:href="@{/dataset/delete(id=${userDataset.name}, type=user)}">
                                                <img src="/images/delete.svg" alt="Delete" height="24" width="24">
                                            </a>
                                        </td>

                                        <td>
                                            <div class="dropdown show">
                                                <a class="image-button dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="/images/key.svg" alt="Access" width="24" height="24">
                                                </a>
                                                <div class="dropdown-menu main-div-bg" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" th:href="@{/dataset/access(id=${userDataset.name}, access=private)}">Private</a>
                                                    <a class="dropdown-item" th:href="@{/dataset/access(id=${userDataset.name}, access=protected)}">Protected</a>
                                                    <a class="dropdown-item" th:href="@{/dataset/access(id=${userDataset.name}, access=public)}">Public</a>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                </table>
            
                            </div>
            
                            <div class="col-2">
            
                            </div>
            
                        </div>
                </div>

                <div th:include="footer.html">
                    
                </div>

                </div>
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
