<div th:include="header.html"></div>
<div class="container" >
    <div class="alert alert-dismissible alert-info" th:if="${message}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class=" main-text" th:text="${message}"></p>
    </div>
    <div id="banner" class="page-header">
        <div class="row">
            <div class="col-12">
                <h2><span th:text="#{permission.request}"/></h2>
            </div>
        </div>
    </div>
    <div id="bs-docs-section">
        <div class="row">
            <div class="col-12">
                <div id="bs-component">
                    <div class="card border-primary mb3">
                        <div class="card-header" th:text="#{permission.request.state}"></div>
                        <div class="card-body">
                            <div class="alert alert-light" th:if="${permissionRequests.size()==0}" th:text="#{permission.request.norequests}"></div>
                            <p th:each="request:${permissionRequests}">
                                <img src="/images/clock.svg" alt="pending" width="32" height="32" th:if="${request.status}=='pending'">
                                <img src="/images/tick.svg" alt="accepted" width="32" height="32" th:if="${request.status}=='accepted'">
                                &nbsp;
                                <span class="italic" th:if="${request.permission.id}=='2'">Can upload</span>
                                <span class="italic" th:if="${request.permission.id}=='3'">Can create corpus</span>
                                <span class="italic" th:if="${request.permission.id}=='4'">Can administer</span>
                                <span th:text="#{permission.request.text}"/>
                                <span class="italic" th:text="${request.status}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="footer.html"></div>

