<!DOCTYPE HTML>
<html>

<head>
    <title>Online Preprocessor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="main-bg">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light top-bg">
            <img src="/images/database.svg" alt="logo" height="32" width="32">
            <a class="topdiv-text" id="linklogo" href="/dataset/home">Online preprocessor</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Datasets
                    </a>
                    <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                        <div th:if="${authority!='canView'}">
                            <a class="dropdown-item topdiv-text" href="/dataset/list?type=user">My datasets</a>
                            <a class="dropdown-item topdiv-text" href="/dataset/upload">Upload dataset</a>
                            <div th:if="${authority=='canCreateCorpus'}">
                                <a class="dropdown-item topdiv-text" href="/dataset/create">Create new dataset</a>
                            </div>
                            <div th:if="${authority=='canAdminister'}">
                                <a class="dropdown-item topdiv-text" href="/dataset/create">Create new dataset</a>
                            </div>
                        </div>
                        <a class="dropdown-item topdiv-text" href="/dataset/list?type=system">System datasets</a>
                        <a class="dropdown-item topdiv-text" href="/dataset/list?type=protected">Protected datasets</a>
                    </div>
                </li>


                <div th:if="${authority!='canView'}">
                    <li class="nav-item dropdown">
                        <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Notifications
                        </a>
                        <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item topdiv-text" href="/dataset/uploadstatus">Upload status</a>
                            <a class="dropdown-item topdiv-text" href="/dataset/preprocessingstatus">Preprocessing
                                status</a>
                        </div>
                    </li>
                </div>

                <div th:if="${authority=='canAdminister'}">
                    <li class="nav-item dropdown">
                        <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Administer
                        </a>
                        <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item topdiv-text" href="/user/list">List users</a>
                            <a class="dropdown-item topdiv-text" href="/dataset/uploadsystem">Upload system dataset</a>
                            <a class="dropdown-item topdiv-text" href="/permission/listrequests">Check permission
                                requests</a>
                        </div>
                    </li>
                </div>

                <li class="nav-item dropdown">
                    <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Permission
                    </a>
                    <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item topdiv-text" href="/permission/list">Permissions list</a>
                        <div th:if="${authority!='canAdminister'}">
                            <a class="dropdown-item topdiv-text" href="/permission/requests/">Permission requests
                                status</a>
                        </div>
                    </div>
                </li>
            </ul>

            <!--TODO: Change this for an image passed from parameters-->
            <a href="/user/editprofile">
                <img class="user-photo" src="/images/authorplaceholderwhite.svg" alt="photo" height="32" width="32">
            </a>
            <p th:text="${username}" class="topdiv-text"></p>
            <div class="float-right logout-icon"></div>
            <a href="/logout">
                <img src="/images/logout.svg" alt="photo" height="32" width="32">
            </a>
    
    </nav>

    <div th:if="${message != null}">
    <div class="row page-content">
        <div class="col-4">

        </div>

        <div class="col-4 message">
            <p class="main-text text-center" th:text="${message}"></p>
        </div>

        <div class="col-4">

        </div>
    </div>
    </div>

    <div class="row page-content">
        <div class="col-1">

        </div>

        <div class="col-10 form-bg">
            <img class="header-logo" src="/images/request.svg" alt="logo.png" height="64" width="64">
            <h1 class="main-text text-center welcome-text"><em>Permission requests</em></h1> 
        </div>

        <div class="col-1">

        </div>
    </div>

    <div class="row">
        <div class="col-3">

        </div>

        <div class="col-2 form-bg">
            <div class="row">
                    <div class="col-2">
                        <img src="/images/tick.svg" alt="aprobed.svg" width="32" height="32">
                    </div>

                    <div class="col-10">
                        <p class="main-text text-center">This icon means that the request have been aprobed.</p>
                    </div>
            </div>
        </div>

        <div class="col-2 form-bg">
            <div class="row">
                    <div class="col-2">
                        <img src="/images/clock.svg" alt="pending.svg" width="32" height="32">
                    </div>

                    <div class="col-10">
                        <p class="main-text text-center">This icon means that the request is still not resolved.</p>
                    </div>
            </div>
        </div>

        <div class="col-2 form-bg">
            <div class="row">
                <div class="col-2">
                    <img src="/images/warning.svg" alt="pending.svg" width="32" height="32">
                </div>
                <div class="col-10">
                    <p class="main-text text-center">If a request does not appear here, it means that it has been rejected.</p>
                </div>

            </div>
        </div>

        <div class="col-3">

        </div>
    </div>

    <div class="row page-content pre-footer">
        <div class="col-4">

        </div>

        <div class="col-4 form-bg">
            <h4 class="top-bg topdiv-text text-center">Requests status</h4>
            <div th:each="request:${permissionRequests}">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-1">

                    </div>

                    <div class="col-3">
                        <div th:if="${request.status}=='pending'">
                            <img src="/images/clock.svg" alt="pending" width="32" height="32">
                        </div>
                        <div th:if="${request.status}=='accepted'">
                            <img src="/images/tick.svg" alt="accepted" width="32" height="32">
                        </div>
                    </div>

                    <div class="col-8">
                        <div th:if="${request.permission.id}=='2'">
                                <p class="main-text"><em>Can upload</em> permission request <em th:text="${request.status}"></em></p>
                        </div>

                        <div th:if="${request.permission.id}=='3'">
                                <p class="main-text"><em>Can create corpus</em> permission request <em th:text="${request.status}"></em></p>
                        </div>

                        <div th:if="${request.permission.id}=='4'">
                                <p class="main-text"><em>Can administer</em> permission request <em th:text="${request.status}"></em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">

        </div>

    </div>

    <footer class="fixed-bottom page-footer footer-bg">
            <div class="container-fluid">
              <div class="row">
                <div class="col-5">
  
                </div>  
  
                <div class="col-1">
                    <a href="https://www.sing-group.org/"><img src="/images/singGrey.svg" alt="singGrey.svg" width="64" height="64"></a>
                </div>
  
                <div class="col-1">
                    <a href="https://www.uvigo.gal/es"><img src="/images/uvigo.png" alt="uvigo.png" width="128" height="64"></a>
                </div>
  
                <div class="col-5">
  
                </div>
              </div>
            </div>
    </footer>


    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>