<div th:include="header.html"></div>
<div class="container">
    <div class="alert alert-dismissible alert-info" th:if="${message}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class=" main-text" th:text="${message}"></p>
    </div>
    <div id="banner" class="page-header">
        <div class="row">
            <div class="col-12">
                <h2 th:text="#{list.preprocessingtask.title}"></h2>
            </div>
        </div>
    </div>
    <div id="bs-docs-section">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a th:if="${dataset!=null}" class="nav-link" th:classappend="${state=='waiting'} ? 'active' : ''" th:href="'/task/preprocess?state=waiting&id='+${dataset.name}" th:text="#{list.preprocessing.waiting}"></a>
                <a th:if="${dataset==null}" class="nav-link" th:classappend="${state=='waiting'} ? 'active' : ''" th:href="'/task/preprocess?state=waiting'" th:text="#{list.preprocessing.waiting}"></a>
            </li>
            <li class="nav-item">
                <a th:if="${dataset!=null}" class="nav-link" th:classappend="${state=='executing'} ? 'active' : ''" th:href="'/task/preprocess?state=executing&id='+${dataset.name}" th:text="#{list.preprocessing.executing}"></a>
                <a th:if="${dataset==null}" class="nav-link" th:classappend="${state=='executing'} ? 'active' : ''" th:href="'/task/preprocess?state=executing'" th:text="#{list.preprocessing.executing}"></a>
            </li>
            <li class="nav-item">
                <a th:if="${dataset!=null}" class="nav-link" th:classappend="${state=='failed'} ? 'active' : ''" th:href="'/task/preprocess?state=failed&id='+${dataset.name}" th:text="#{list.preprocessing.failed}"></a>
                <a th:if="${dataset==null}" class="nav-link" th:classappend="${state=='failed'} ? 'active' : ''" th:href="'/task/preprocess?state=failed'" th:text="#{list.preprocessing.failed}"></a>
            </li>

            <li class="nav-item">
                <a th:if="${dataset!=null}" class="nav-link" th:classappend="${state=='success'} ? 'active' : ''" th:href="'/task/preprocess?state=success&id='+${dataset.name}" th:text="#{list.preprocessing.success}"></a>
                <a th:if="${dataset==null}" class="nav-link" th:classappend="${state=='success'} ? 'active' : ''" th:href="'/task/preprocess?state=success'" th:text="#{list.preprocessing.success}"></a>
            </li>
        </ul>
        <div class="tab-pane fade active show add-border">
            <div class="alert alert-light" th:if="${tasks.size()==0 and state=='waiting'}" th:text="#{list.preprocessing.notasks(#{list.preprocessing.waiting})}"></div>
            <div class="alert alert-light" th:if="${tasks.size()==0 and state=='executing'}" th:text="#{list.preprocessing.notasks(#{list.preprocessing.executing})}"></div>
            <div class="alert alert-light" th:if="${tasks.size()==0 and state=='failed'}" th:text="#{list.preprocessing.notasks(#{list.preprocessing.failed})}"></div>
            <div class="alert alert-light" th:if="${tasks.size()==0 and state=='success'}" th:text="#{list.preprocessing.notasks(#{list.preprocessing.success})}"></div>
            <table class="table table-hover margin20" th:if="${tasks.size()!=0}">
                <thead>
                    <tr>
                        <th scope="col">Dataset</th>
                        <th scope="col" th:text="#{list.preprocessing.date}"></th>
                        <th scope="col" th:text="#{list.preprocessing.message}" th:if="${state=='failed'}"></th>
                        <th scope="col" th:text="#{list.preprocessing.name}"></th>
                        <th scope="col" th:text="#{list.preprocessing.description}"></th>
                        <th scope="col" th:text="#{list.preprocessing.actions}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.dataset.name}"></td>
                        <td th:text="${#dates.format(task.date, 'yyyy-MM-dd')}" class="td-date"></td>
                        <td th:text="${task.message}" th:if="${state=='failed'}" class="justify td-width-100">
                        </td>
                        <td th:text="${task.name}">
                        </td>
                        <td th:text="${task.description}" class="justify td-width-100">
                        </td>
                        <td class="minw_110">
                            <a class="btn btn-list" th:if="${username}==${task.getDataset().getAuthor()}" th:href="@{'/task/hide?task=' + ${task.id} + '&option=preprocess&state='+${state}}" data-toggle="tooltip" data-placement="right" th:title="#{list.usertasks.details}" th:onclick="'javascript:return confirm(\'' + #{list.usertasks.surehide} + '\');'">
                                <i class="fas fa-eye-slash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:include="footer.html"></div>