<!DOCTYPE HTML>
<html>
<head> 
    <title>Online Preprocessor</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="main-bg">
    <div class="container">
        <!--Div superior-->
        <div class="row topdiv">
            <div class="col-4">
                    <img class="header-logo" src="/images/database.svg" alt="logo.png" height="64" width="64">
                    <h1 class="main-text">Online preprocessor</h1>
            </div>
            <div class="col-8">

            </div>
        </div>

        <div class="col-12">

        </div>
    </div>
    
</body>