<!DOCTYPE HTML>
<html>
    <head> 
        <title th:text="#{app.name}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">     
    </head>
    <body class="main-bg">
        <div class="header">
            <div th:include="header_public.html"></div>
        </div>
        <div class="container">
            <div id="bs-docs-section">
                <div class="row">
                    <div class="col-12">
                        <div id="bs-component">
                            <form action="#" th:action="@{/user/register}" th:object="${user}" method="POST">
                                <fieldset>
                                    <legend><h2 th:text="#{register.title}"></h2><hr/></legend>
                                    <div class="form-group right">
                                        <a class="btn btn-list" id="back">
                                            <i class="fas fa-arrow-circle-left"></i>
                                            <span th:text="#{back}"/>
                                        </a>
                                    </div>
                                    <div class="form-group">
                                        <label for="#{register.placeholder.email}" id="laddEmail" name="laddEmail" class="col-md-3 control-label" th:text="#{register.placeholder.email}" ></label>
                                        <input type="email" class="form-control col-md-6" name="email" th:attr="placeholder = #{register.placeholder.email}" required="required">
                                        <label class="error-label" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  th:text="#{register.emailerror}"></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="#{register.placeholder.name}" id="laddEmail" name="laddName" class="col-md-3 control-label" th:text="#{register.placeholder.name}" ></label>
                                        <input class="form-control col-md-6" type="text" name="name" th:attr="placeholder = #{register.placeholder.name}" required="required">
                                        <label class="error-label" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:text="#{register.nameerror}"></label> 
                                    </div>
                                    <div class="form-group">
                                        <label for="#{register.placeholder.surname}" id="laddEmail" name="laddSurname" class="col-md-3 control-label" th:text="#{register.placeholder.surname}" ></label>
                                        <input class="form-control col-md-6" type="text" name="surname" th:attr="placeholder = #{register.placeholder.surname}" required="required">
                                        <label class="error-label" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" th:text="#{register.surnameerror}"></label> 
                                    </div>
                                    <div class="form-group">
                                        <label for="#{register.placeholder.username}" id="laddUsername" name="laddUsername" class="col-md-3 control-label" th:text="#{register.placeholder.username}" ></label>
                                        <input type="text" class="form-control col-md-3" name="username" th:attr="placeholder = #{register.placeholder.username}" required="required">
                                        <label class="error-label" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:text="#{register.usernameerror}"></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="#{register.placeholder.password}" id="laddPassword" name="laddPassword" class="col-md-3 control-label" th:text="#{register.placeholder.password}" ></label>
                                        <input type="password" class="form-control col-md-3" name="password" th:attr="placeholder = #{register.placeholder.password}" required="required">
                                        <label class="error-label" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:text="#{register.passworderror}"></label>
                                    </div>
                                    <hr/>
                                    <div class="form-group right">
                                        <input type="submit" class="btn btn-primary" th:attr="value = #{register.title}"><br>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="footer.html"></div>
    </body>
</html>
