<!DOCTYPE HTML>
<html>

<head>
    <title>Online Preprocessor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="main-bg">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light top-bg">
            <img src="/images/database.svg" alt="logo" height="32" width="32">
            <a class="topdiv-text" id="linklogo" href="/dataset/home">Online preprocessor</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Datasets
                    </a>
                    <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                        <div th:if="${authority!='canView'}">
                            <a class="dropdown-item topdiv-text" href="/dataset/list?type=user">My datasets</a>
                            <a class="dropdown-item topdiv-text" href="/dataset/upload">Upload dataset</a>
                            <div th:if="${authority=='canCreateCorpus'}">
                                <a class="dropdown-item topdiv-text" href="/dataset/create">Create new dataset</a>
                            </div>
                            <div th:if="${authority=='canAdminister'}">
                                <a class="dropdown-item topdiv-text" href="/dataset/create">Create new dataset</a>
                            </div>
                        </div>
                        <a class="dropdown-item topdiv-text" href="/dataset/list?type=system">System datasets</a>
                        <a class="dropdown-item topdiv-text" href="/dataset/list?type=protected">Protected datasets</a>
                    </div>
                </li>


                <div th:if="${authority!='canView'}">
                    <li class="nav-item dropdown">
                        <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Notifications
                        </a>
                        <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item topdiv-text" href="/dataset/uploadstatus">Upload status</a>
                            <a class="dropdown-item topdiv-text" href="/dataset/preprocessingstatus">Preprocessing
                                status</a>
                        </div>
                    </li>
                </div>

                <div th:if="${authority=='canAdminister'}">
                    <li class="nav-item dropdown">
                        <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Administer
                        </a>
                        <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item topdiv-text" href="/user/list">List users</a>
                            <a class="dropdown-item topdiv-text" href="/dataset/uploadsystem">Upload system dataset</a>
                            <a class="dropdown-item topdiv-text" href="/permission/listrequests">Check permission
                                requests</a>
                        </div>
                    </li>
                </div>

                <li class="nav-item dropdown">
                    <a class="topdiv-text dropdown-toggle nav-link" id="navbar-link" href="#" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Permission
                    </a>
                    <div class="dropdown-menu top-bg" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item topdiv-text" href="/permission/list">Permissions list</a>
                        <div th:if="${authority!='canAdminister'}">
                            <a class="dropdown-item topdiv-text" href="/permission/requests/">Permission requests
                                status</a>
                        </div>
                    </div>
                </li>
            </ul>

            <!--TODO: Change this for an image passed from parameters-->
            <a href="/user/editprofile">
                <img class="user-photo" src="/images/authorplaceholderwhite.svg" alt="photo" height="32" width="32">
            </a>
            <p th:text="${username}" class="topdiv-text"></p>
            <div class="float-right logout-icon"></div>
            <a href="/logout">
                <img src="/images/logout.svg" alt="photo" height="32" width="32">
            </a>
    </div>
    </nav>

    <div th:if="${message != null}">
    <div class="row page-content">
        <div class="col-4">

        </div>

        <div class="col-4">
            <p class="main-text text-center" th:text="${message}"></p>
        </div>

        <div class="col-4">

        </div>
    </div>
    </div>

    <div class="row page-content">
        <div class="col-1">

        </div>

        <div class="col-10 form-bg">
            <img class="header-logo" src="/images/permissions.svg" alt="logo.png" height="64" width="64">
            <h1 class="main-text text-center welcome-text"><em>Permissions</em></h1>
        </div>

        <div class="col-1">

        </div>
    </div>

    <div class="row">

            <div class="col-1">

            </div>
    
            <div class="col-1 form-bg">
    
            </div>

            <div class="col-2 form-bg">
                <h4 class="main-text text-center">Can view</h4>
            </div>

            <div class="col-2 form-bg">
                <h4 class="main-text text-center">Can upload</h4>
            </div>

            <div class="col-2 form-bg">
                <h4 class="main-text text-center">Can create corpus</h4>
            </div>

            <div class="col-2 form-bg">
                <h4 class="main-text text-center">Can administer</h4>
            </div>

            <div class="col-1 form-bg">

            </div>
    
            <div class="col-1">
    
            </div>
    </div>

    <div class="row">

            <div class="col-1">

            </div>
    
            <div class="col-1 form-bg">
    
            </div>

            <div class="col-2 form-bg">

            </div>

            <div class="col-2 form-bg">

            </div>

            <div class="col-2 form-bg">
                
            </div>

            <div class="col-2 form-bg">
                    <p class="top-bg topdiv-text text-center">Can administer</p>
                    <p class="main-text text-center">The user with these permissions can accept or reject permission requests,
                         can delete system datasets, can administer users of the platform...</p>
            </div>

            <div class="col-1 form-bg">

            </div>
    
            <div class="col-1">
    
            </div>
    </div>

    <div class="row">

            <div class="col-1">

            </div>
    
            <div class="col-1 form-bg">
    
            </div>

            <div class="col-2 form-bg">

            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Can upload</p>
                <p class="main-text text-center">The user with these permissions can upload their own datasets and schelude preprocessing tasks</p>
            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Can create new corpus</p>
                <p class="main-text text-center">The user with these permissions can create new corpus by mixing system corpus</p>
            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Can upload system datasets</p>
                <p class="main-text text-center">The user with these permissions can upload system datasets</p>
            </div>

            <div class="col-1 form-bg">

            </div>
    
            <div class="col-1">
    
            </div>
    </div>

    <div class="row">

            <div class="col-1">

            </div>

            <div class="col-1 form-bg">

            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Can view</p>
                <p class="main-text text-center">The user with these permissions only have access to see system and protected datasets</p>
            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Same as permissions bellow</p>
                <p class="main-text text-center">The user with these permissions will have all the privileges of the lower permissions</p>
            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Same as permissions bellow</p>
                <p class="main-text text-center">The user with these permissions will have all the privileges of the lower permissions</p>
            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Same as permissions bellow</p>
                <p class="main-text text-center">The user with these permissions will have all the privileges of the lower permissions</p>
            </div>

            <div class="col-1 form-bg">

            </div>

            <div class="col-1">

            </div>
    </div>

    <div class="row pre-footer">

            <div class="col-1">

            </div>

            <div class="col-1 form-bg">

            </div>

            <div class="col-2 form-bg">
                <button type="button" class="submit-button form-control">You already have this permission!</button>
            </div>

            <div class="col-2 form-bg">
                <div th:unless="${authority}=='canView'">
                    <button type="button" class="submit-button form-control">You already have this permission!</button>
                </div>
                <div th:if="${authority}=='canView'">
                    <form action="#" th:action="@{/permission/request}" method="POST">
                        <input type="hidden" name="id" value="2">
                        <input type="submit" class="submit-button form-control" value="Solicit this permission">
                    </form>
                </div>
            </div>

            <div class="col-2 form-bg">
                    <div th:unless="${authority}=='canView' or ${authority}=='canUpload'">
                        <button type="button" class="submit-button form-control">You already have this permission!</button>
                    </div>
                    <div th:if="${authority}=='canView' or ${authority}=='canUpload'">
                        <form action="#" th:action="@{/permission/request}" method="POST">
                            <input type="hidden" name="id" value="3">
                            <input type="submit" class="submit-button form-control" value="Solicit this permission">
                        </form>
                    </div>
            </div>

            <div class="col-2 form-bg">
                    <div th:if="${authority}=='canAdminister'">
                        <button type="button" class="submit-button form-control">You already have this permission!</button>
                    </div>
                    <div th:unless="${authority}=='canAdminister'">
                        <form action="#" th:action="@{/permission/request}" method="POST">
                            <input type="hidden" name="id" value="4">
                            <input type="submit" class="submit-button form-control" value="Solicit this permission">
                        </form>
                    </div>
            </div>

            <div class="col-1 form-bg">

            </div>

            <div class="col-1">

            </div>
    </div>


    <div class="row">
        <footer class="page-footer footer-bg">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img class="footer-logo" src="/images/singGrey.svg" alt="logo.png" height="64" width="64">
                    </div>
                    <div class="col-2">
                        <img class="footer-logo" src="/images/uvigo.png" alt="logo.png" height="64" width="64">
                    </div>
                    <div class="col-2">
                        <img class="footer-logo" src="/images/uvigo.png" alt="logo.png" height="64" width="64">
                    </div>
                    <div class="col-2">
                        <img class="footer-logo" src="/images/uvigo.png" alt="logo.png" height="64" width="64">
                    </div>
                    <div class="col-2">
                        <img class="footer-logo" src="/images/uvigo.png" alt="logo.png" height="64" width="64">
                    </div>
                    <div class="col-2">
                        <img class="footer-logo" src="/images/uvigo.png" alt="logo.png" height="64" width="64">
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>