<!DOCTYPE HTML>
<html>

<head>
    <title>Online Preprocessor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="main-bg">
    <div class="container-fluid">
        <div th:include="header.html">

        </div>
    <div th:if="${message != null}">
    <div class="row page-content">
        <div class="col-4">

        </div>

        <div class="col-4">
            <p class="main-text text-center" th:text="${message}"></p>
        </div>

        <div class="col-4">

        </div>
    </div>
    </div>

    <div class="row page-content">
        <div class="col-1">

        </div>

        <div class="col-10 form-bg">
            <img class="header-logo" src="/images/permissions.svg" alt="logo.png" height="64" width="64">
            <h1 class="main-text text-center welcome-text"><em>Permissions</em></h1>
        </div>

        <div class="col-1">

        </div>
    </div>

    <div class="row">

            <div class="col-1">

            </div>
    
            <div class="col-1 form-bg">
    
            </div>

            <div class="col-2 form-bg">
                <h4 class="main-text text-center">Can view</h4>
            </div>

            <div class="col-2 form-bg">
                <h4 class="main-text text-center">Can create corpus</h4>
            </div>

            <div class="col-2 form-bg">
                <h4 class="main-text text-center">Can upload</h4>
            </div>

            <div class="col-2 form-bg">
                <h4 class="main-text text-center">Can administer</h4>
            </div>

            <div class="col-1 form-bg">

            </div>
    
            <div class="col-1">
    
            </div>
    </div>

    <div class="row">

        <div class="col-1">

        </div>

        <div class="col-1 form-bg">

        </div>

        <div class="col-2 form-bg">

        </div>

        <div class="col-2 form-bg">

        </div>

        <div class="col-2 form-bg">
            
        </div>

        <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Can administer</p>
                <p class="main-text text-center">The user with these permissions can administer users of the platform and delete system datasets</p>
        </div>

        <div class="col-1 form-bg">

        </div>

        <div class="col-1">

        </div>
    </div>

    <div class="row">

            <div class="col-1">

            </div>
    
            <div class="col-1 form-bg">
    
            </div>

            <div class="col-2 form-bg">

            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Can create new corpus</p>
                <p class="main-text text-center">The user with these permissions can create new datasets by mixing system datasets</p>
            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Can upload</p>
                <p class="main-text text-center">The user with these permissions can upload system datasets</p>
            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Can reply permission requests</p>
                <p class="main-text text-center">The user with these permissions can reply to the users permission requests</p>
            </div>

            <div class="col-1 form-bg">

            </div>
    
            <div class="col-1">
    
            </div>
    </div>

    <div class="row">

            <div class="col-1">

            </div>

            <div class="col-1 form-bg">

            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Can view</p>
                <p class="main-text text-center">The user with these permissions only have access to see system and protected datasets</p>
            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Same as permissions bellow</p>
                <p class="main-text text-center">The user with these permissions will have all the privileges of the lower permissions</p>
            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Same as permissions bellow</p>
                <p class="main-text text-center">The user with these permissions will have all the privileges of the lower permissions</p>
            </div>

            <div class="col-2 form-bg">
                <p class="top-bg topdiv-text text-center">Same as permissions bellow</p>
                <p class="main-text text-center">The user with these permissions will have all the privileges of the lower permissions</p>
            </div>

            <div class="col-1 form-bg">

            </div>

            <div class="col-1">

            </div>
    </div>

    <div class="row pre-footer">

            <div class="col-1">

            </div>

            <div class="col-1 form-bg">

            </div>

            <div class="col-2 form-bg">
                <button type="button" class="submit-button form-control">You already have this permission!</button>
            </div>

            <div class="col-2 form-bg">
                <div th:unless="${authority}=='canView'">
                    <button type="button" class="submit-button form-control">You already have this permission!</button>
                </div>
                <div th:if="${authority}=='canView'">
                    <form action="#" th:action="@{/permission/request}" method="POST">
                        <input type="hidden" name="id" value="2">
                        <input type="submit" class="submit-button form-control" value="Solicit this permission">
                    </form>
                </div>
            </div>

            <div class="col-2 form-bg">
                    <div th:unless="${authority}=='canView' or ${authority}=='canCreateCorpus'">
                        <button type="button" class="submit-button form-control">You already have this permission!</button>
                    </div>
                    <div th:if="${authority}=='canView' or ${authority}=='canCreateCorpus'">
                        <form action="#" th:action="@{/permission/request}" method="POST">
                            <input type="hidden" name="id" value="3">
                            <input type="submit" class="submit-button form-control" value="Solicit this permission">
                        </form>
                    </div>
            </div>

            <div class="col-2 form-bg">
                    <div th:if="${authority}=='canAdminister'">
                        <button type="button" class="submit-button form-control">You already have this permission!</button>
                    </div>
                    <div th:unless="${authority}=='canAdminister'">
                        <form action="#" th:action="@{/permission/request}" method="POST">
                            <input type="hidden" name="id" value="4">
                            <input type="submit" class="submit-button form-control" value="Solicit this permission">
                        </form>
                    </div>
            </div>

            <div class="col-1 form-bg">

            </div>

            <div class="col-1">

            </div>
    </div>

    <div th:include="footer.html">

    </div>
</div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>