<!DOCTYPE HTML>
<html>


    <head>
        <title th:text="#{app.name}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">   
    </head>

    <body class="main-bg">
        <div class="header">
            <div th:include="header.html"></div>
        </div>
        <div class="container" >
            <div class="alert alert-dismissible alert-info" th:if="${message}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p class=" main-text" th:text="${message}"></p>
            </div>
            <div id="banner" class="page-header">
                <div class="row">
                    <div class="col-12">
                        <h2><span th:text="#{systemtasks.title} "/></h2>
                    </div>
                </div>
            </div>
            <div id="bs-docs-section">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group right">
                            <a class="btn btn-list" id="back">
                                <i class="fas fa-arrow-circle-left"></i>
                                <span th:text="#{back}"/>
                            </a>
                        </div>
                    </div>
                    <!--div class="col-2">
                        <a class="btn btn-primary" th:href="'/task/preprocess/create?name='+${dataset.name}" th:text=" #{list.preprocessing.button}">                         
                        </a>
                    </div-->
                </div>
               
                 <form class="form-inline">
                    <div class="form-group right">
                        <form action="/tasks/upload" method="GET">
                            <input type="hidden" name="state" th:attr="value = ${state}">
                            <input type="text" class="form-control" name="searchInput" th:attr="placeholder = #{systemtasks.placeholder.search}">
                            <input type="submit" class="form-control submit-button" th:attr="value = #{systemtasks.search}">
                        </form>
                    </div>
                </form>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${state=='waiting'} ? 'active' : ''" href="/task/upload?state=waiting" th:text="#{systemtasks.waiting}"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${state=='executing'} ? 'active' : ''" href="/task/upload?state=executing" th:text="#{systemtasks.executing}"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${state=='failed'} ? 'active' : ''" href="/task/upload?state=failed" th:text="#{systemtasks.failed}"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${state=='success'} ? 'active' : ''" href="/task/upload?state=success" th:text="#{systemtasks.success}"></a>
                    </li>
                </ul>
                <div class="tab-pane fade active show" >
                    <div class="alert alert-light" th:if="${tasks.size()==0}" th:text="#{systemtasks.notasks}"></div>
                    <table class="table table-hover margin20" th:if="${tasks.size()!=0}">
                        <thead>
                            <tr>
                                <th scope="col" th:text="#{systemtasks.date}"></th>
                                <th scope="col" th:text="#{systemtasks.dataset}"></th>
                                <th scope="col" th:text="#{systemtasks.message}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="task : ${tasks}">
                                <td th:text="${task.dataset.uploadDate}"></td>
                                <td th:text="${task.dataset.name}"></td>
                                <td>
                                    <button type="button" th:if="${task.message}==null" class="btn btn-list" data-toggle="popover"  title="Message" th:attr="data-content = #{list.usertasks.nomessageprovided}">
                                        <i class="fas fa-envelope"></i>
                                    </button>
                                    <button type="button" th:if="${task.message}!=null" class="btn btn-list" data-toggle="popover" title="Message" th:attr="data-content = ${task.message}">
                                        <i class="fas fa-envelope"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
<!--

<div class="col-2">

</div>

<div class="col-8 form-bg">
    <img class="header-logo" src="/images/clipboard.svg" alt="clipboard.svg" height="64" width="64">
    <h2 class="main-text-center text-center" th:text="#{systemtasks.title}"></h2>

    <div class="row">
        <div class="col-6">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${state=='waiting'} ? 'active' : ''"
                        href="/task/upload?state=waiting" th:text="#{systemtasks.waiting}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:classappend="${state=='executing'} ? 'active' : ''"
                        href="/task/upload?state=executing" th:text="#{systemtasks.executing}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:classappend="${state=='failed'} ? 'active' : ''"
                        href="/task/upload?state=failed" th:text="#{systemtasks.failed}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:classappend="${state=='success'} ? 'active' : ''"
                        href="/task/upload?state=success" th:text="#{systemtasks.success}"></a>
                </li>

            </ul>
        </div>

        <div class="col-2">

        </div>

        <div class="col-4">
            <form class="form-inline">
                <div class="form-group">
                    <form action="/tasks/upload" method="GET">
                        <input type="hidden" name="state" th:attr="value = ${state}">
                        <input type="text" class="form-control" name="searchInput"
                            th:attr="placeholder = #{systemtasks.placeholder.search}">
                        <input type="submit" class="form-control submit-button" th:attr="value = #{systemtasks.search}">
                    </form>

                </div>
            </form>
        </div>
    </div>

    <div class="table-responsive text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" th:text="#{systemtasks.date}"></th>
                    <th scope="col" th:text="#{systemtasks.dataset}"></th>
                    <th scope="col" th:text="#{systemtasks.message}"></th>
                </tr>
            </thead>

            <tbody>
                <div th:each="task : ${tasks}">
                    <tr>
                        <td th:text="${task.dataset.uploadDate}">

                        </td>

                        <td th:text="${task.dataset.name}">

                        </td>
                        <td>
                            <div th:if="${task.message}==null">
                                    <button type="button" class="btn btn-small btn-danger" data-toggle="popover"
                                    title="Message" th:attr="data-content = #{list.usertasks.nomessageprovided}">
                                    <i class="fas fa-envelope"></i>
                                </button>
                            </div>

                            <div th:if="${task.message}!=null">
                                <button type="button" class="btn btn-small btn-danger" data-toggle="popover"
                                    title="Message" th:attr="data-content = ${task.message}">
                                    <i class="fas fa-envelope"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </div>


            </tbody>
        </table>
    </div>
</div>
<div class="col-2">

</div>
</div>

<div th:include="footer.html"></div>
</div>
</body>

</html>-->