<!DOCTYPE HTML>
<html>

<head>
    <title th:text="#{app.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="main-bg">
    <div class="container-fluid">
        <div th:include="header.html">

        </div>

        <div th:if="${message}">
            <div class="row page-content">
                <div class="col-4">

                </div>

                <div class="col-4 message">
                    <p class="main-text text-center" th:text="${message}"></p>
                </div>

                <div class="col-4">

                </div>
            </div>
        </div>

        <div class="row page-content pre-footer">

            <div class="col-2">

            </div>

            <div class="col-8 form-bg">
                <img class="header-logo" src="/images/clipboard.svg" alt="clipboard.svg" height="64" width="64">
                <h2 class="main-text-center text-center" th:text="#{systemtasks.title}"></h2>

                <div class="row">
                    <div class="col-6">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" th:classappend="${state=='waiting'} ? 'active' : ''"
                                    href="/task/upload?state=waiting" th:text="#{systemtasks.waiting}"></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:classappend="${state=='executing'} ? 'active' : ''"
                                    href="/task/upload?state=executing" th:text="#{systemtasks.executing}"></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:classappend="${state=='failed'} ? 'active' : ''"
                                    href="/task/upload?state=failed" th:text="#{systemtasks.failed}"></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:classappend="${state=='success'} ? 'active' : ''"
                                    href="/task/upload?state=success" th:text="#{systemtasks.success}"></a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-2">

                    </div>

                    <div class="col-4">
                        <form class="form-inline">
                            <div class="form-group">
                                <form action="/tasks/upload" method="GET">
                                    <input type="hidden" name="state" th:attr="value = ${state}">
                                    <input type="text" class="form-control" name="searchInput"
                                        th:attr="placeholder = #{systemtasks.placeholder.search}">
                                    <input type="submit" class="form-control submit-button" th:attr="value = #{systemtasks.search}">
                                </form>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="table-responsive text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" th:text="#{systemtasks.date}"></th>
                                <th scope="col" th:text="#{systemtasks.dataset}"></th>
                                <th scope="col" th:text="#{systemtasks.message}"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <div th:each="task : ${tasks}">
                                <tr>
                                    <td th:text="${task.dataset.uploadDate}">

                                    </td>

                                    <td th:text="${task.dataset.name}">

                                    </td>
                                    <td>
                                        <div th:if="${task.message}==null">
                                            <!-- Moncho
                                                <button type="button" class="btn btn-small btn-danger" data-toggle="popover"
                                                title="Message" data-content="Not message provided">-->
                                                <button type="button" class="btn btn-small btn-danger" data-toggle="popover"
                                                title="Message" th:attr="data-content = #{list.usertasks.nomessageprovided}">
                                                <i class="fas fa-envelope"></i>
                                            </button>
                                        </div>

                                        <div th:if="${task.message}!=null">
                                            <button type="button" class="btn btn-small btn-danger" data-toggle="popover"
                                                title="Message" th:attr="data-content = ${task.message}">
                                                <i class="fas fa-envelope"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </div>


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-2">

            </div>
        </div>

        <div th:include="footer.html"></div>
    </div>
</body>

</html>